/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid rgb(224, 143, 143); /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: white;
    color: light rgb(224, 143, 143);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }
 
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: rgb(0, 255, 60);
  }

/* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: rgb(144, 203, 238);
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
  }

.W{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}
.vansh{
    background-color:rgb(249, 111, 111);
  }
  #msg{
    color: #ff0033;
    margin-top: 0px;
    display: block;
    text-align: left;
  }
  